<div id="vandal"></div>

<div id="wrapper">

	<section id="main">
						<header>

							<h1>404</h1>
							<p>This isn't a page! </p>
							<p>Want to go <a href="/">home?</a></p>
						</header>

					</section>
        </div>

				<!-- Footer -->
